# ------------------------
# Web Framework
# ------------------------
fastapi
uvicorn[standard]
python-multipart

# ------------------------
# Environment Variables
# ------------------------
python-dotenv

# ------------------------
# PDF Processing
# ------------------------
pypdf
langchain-community
langchain-text-splitters

# ------------------------
# LLM & RAG
# ------------------------
langchain-core
langchain-groq
google-genai

# ------------------------
# Vector Store (mem0 + Qdrant)
# ------------------------
mem0
qdrant-client

# ------------------------
# Utilities
# ------------------------
pydantic
requests
tqdm
loguru
